:root {
    box-sizing: border-box; 
    list-style: none;

    --red: #94214d;
    --gray: #9f9d89;
    --purple: #334063;
    --brown: #9b7131;
    --yellow: hsl(36, 37%, 65%);
    --white: #ffffff;
    --whitegray: hsl(223.75, 32%, 90%);
    --whitegrayer: hsl(223.75, 32%, 85%);

}

@font-face {
    font-family: "chubbo";
    src: url("fonts/Chubbo-Variable.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "zodiak";
    src: url("fonts/Zodiak-Bold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}


*, *::before, *::after {
    box-sizing: inherit;
    list-style: inherit;
    text-decoration: none;

    padding: 0;
    margin: 0;
    
    font-family: serif;
}

a {
    color: var(--white);
}

body {
    background-color: var(--red);
    color: white;
    overflow: hidden;
}

