:root {
    box-sizing: border-box; 
    list-style: none;

    --red: #94214d;
    --gray: #9f9d89;
    --purple: #334063;
    --brown: #9b7131;
    --white: #ffffff;
    --whitegray: hsl(223.75, 32%, 90%);
    --whitegrayer: hsl(223.75, 32%, 85%);

}

*, *::before, *::after {
    box-sizing: inherit;
    list-style: inherit;
    text-decoration: none;

    padding: 0;
    margin: 0;
    transition-duration: 0.5s;
    transition-property: all;
    font-family: serif;
}
a {
    color: var(--white);
}

body {
    background-color: var(--red);
    color: white;
}

