:root {
    box-sizing: border-box; 
    list-style: none;

    --red: #94214d;
    --gray: #9f9d89;
    --purple: #334063;
    --brown: #9b7131;
    --white: #ffffff;

}

*, *::before, *::after {
    box-sizing: inherit;
    list-style: inherit;

    padding: 0;
    margin: 0;
}

body {
    background-color: var(--red);
    color: white;
}

